<?xml version='1.0' encoding='utf-8'?>
<plugin id="moneyguard-ionic" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>Moneyguard</name>
        <js-module name="Moneyguard" src="www/Moneyguard.js">
            <clobbers target="cordova.plugins.Moneyguard" />
        </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Moneyguard">
                <param name="android-package" value="com.wimika.ionic.Moneyguard" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/model/CredentialCheckReq.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/DebitCheckReq.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/DebitCheckResult.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/GenericResult.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/RecordRiskReq.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/Risk.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/Score.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/RiskResult.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/TypingProfileResult.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/CredentialScanResult.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/model/RiskStatus.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/RestService.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/ApiService.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/SessionImpl.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/Moneyguard.java" target-dir="src/com/wimika/ionic" />
        <source-file src="src/android/libs/moneyguardcore.aar" target-dir="libs" />
        <source-file src="src/android/libs/moneyguard.aar" target-dir="libs" />
    </platform>
</plugin>